<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<target name="file"
				xsi:type="File"
				fileName="${basedir}/logs/Log.log"
				layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${threadid} | ${message} | ${newline}"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/{#}.zip"
				enableArchiveFileCompression="true"
				/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file"/>
	</rules>
</nlog>